
:root {
    --color-light: #F6F4EB;
    --color-darker: #91C8E4;
    --color-dark: #749BC2;
    --color-darkest: #4682A9;
    --color-black: #1e3747;

    --color-red: darkred;
    --color-green: green;
    --color-blue: dodgerblue;

    --font-regular: Arimo, sans-serif;
    --font-medium: Arimo-Medium, sans-serif;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Arimo;
    src: url(fonts/Arimo-Regular.ttf);
}

@font-face {
    font-family: Arimo-Medium;
    src: url(fonts/Arimo-Medium.ttf);
}

body {
    margin: 0 auto;
    font-family: var(--font-regular);
    color: var(--color-dark);
    max-width: 40rem;
    background-color: var(--color-light);
}

#root {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 3.5rem auto 4rem;
}

nav {
    padding: 1rem .4rem .4rem .4rem;
    font-family: var(--font-medium);
    color: #555;
}

footer {
    color: var(--color-dark);
    font-family: var(--font-medium);
    padding: .4rem;
    border-top: 1px solid var(--color-darker);
    margin-top: 1rem;
}

nav > a {
    font-weight: normal;
    text-decoration: none;
    color: var(--color-darkest);
}

.content-card {
    border: 1px solid var(--color-darker);
    border-radius: .2rem;
}

.content-card-header {
    padding: .4rem;
    font-family: var(--font-medium);
    color: var(--color-darkest);
    border-bottom: 1px solid var(--color-darker);
    background-color: var(--color-darker);
    margin-bottom: 1rem;
}

.content-card-content {
    padding: .4rem;
}

#dash-layout {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: .8rem;
    grid-row-gap: .8rem;
}

#dash-layout .content-card:first-child {
    width: 14rem;
}

#dash-layout .content-card:last-child {
    flex-grow: 1;
    min-width: 15rem;
}

#dash-layout .task .title > div {
    max-width: 20rem;
}

#message-block, #error-block {
    border-width: 1px;
    border-style: solid;
    border-radius: .25rem;

    line-height: 1.7rem;

    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
}

#message-block {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

#error-block {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}